
			<!-- partial:partials/_footer.html -->
			<footer class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small">
				<p class="text-muted mb-1 mb-md-0">Copyright © 2022 <a href="https://www.ihalepazar.com" target="_blank">İhalePazar</a>.</p>
				<p class="text-muted">İhale Pazar <i class="mb-1 text-primary ms-1 icon-sm" data-feather="heart"></i></p>
			</footer>
			<!-- partial -->
		
		</div>
	</div>

	<!-- core:js -->
	<script src="/admin/vendors/core/core.js"></script>
	<!-- endinject -->

	<!-- Plugin js for this page -->
  <script src="/admin/vendors/flatpickr/flatpickr.min.js"></script>
  <script src="/admin/vendors/apexcharts/apexcharts.min.js"></script>
	<!-- End plugin js for this page -->
	<script src="/ajax/sitebilgi.js"></script>
	<!-- inject:js -->
	<script src="/admin/vendors/feather-icons/feather.min.js"></script>
	<script src="/admin/js/template.js"></script>
	<!-- endinject -->
	<script src="/admin/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
	<script src="/admin/js/tags-input.js"></script>
	<script src="/admin/vendors/easymde/easymde.min.js"></script>
	<script src="/admin/js/easymde.js"></script>
	<!-- Custom js for this page -->
  <script src="/admin/js/dashboard-dark.js"></script>
	<!-- End custom js for this page -->
