<!DOCTYPE html>
<!--
Template Name: İhale Pazar
Author: İhale Pazar Efkan
Website: https://www.ihalepazar.com
Portfolio: https://ihalepazar.com/
Contact: maybelatersource@gmail.com
 -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Responsive HTML Admin Dashboard Template based on Bootstrap 5">
	<meta name="author" content="NobleUI">
	<meta name="keywords" content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<title>NobleUI - HTML Bootstrap 5 Admin Dashboard Template</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="/admin/vendors/easymde/easymde.min.css">

  <!-- Fonts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- End fonts -->
<!-- burası başlar-->
 

	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="/admin/vendors/select2/select2.min.css">
	<link rel="stylesheet" href="/admin/vendors/jquery-tags-input/jquery.tagsinput.min.css">
	<link rel="stylesheet" href="/admin/vendors/dropzone/dropzone.min.css">
	<link rel="stylesheet" href="/admin/vendors/dropify/dist/dropify.min.css">
	<link rel="stylesheet" href="/admin/vendors/pickr/themes/classic.min.css">
	<link rel="stylesheet" href="/admin/vendors/font-awesome/css/font-awesome.min.css">
 	<!-- End plugin css for this page -->

	<!-- inject:css -->
 	<!-- endinject -->

  <!-- Layout styles -->  
 	<!-- core:css -->
	<link rel="stylesheet" href="/admin/vendors/core/core.css">
	<!-- endinject -->

	<!-- Plugin css for this page -->
	<link rel="stylesheet" href="/admin/vendors/flatpickr/flatpickr.min.css">
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" href="/admin/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="/admin/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->

  <!-- Layout styles -->  
	<link rel="stylesheet" href="/admin/css/demo2/style.css">
	
  <!-- End layout styles -->

  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>
<body>
	<div class="main-wrapper"> 