<nav class="sidebar">
  <div class="sidebar-header">
    <a href="/nadminpanel" class="sidebar-brand">
      İhale<span>Pazar</span>
    </a>
    <div class="sidebar-toggler not-active">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="sidebar-body">
    <ul class="nav">
     
      <li class="nav-item nav-category">Uygulamalar</li>
     
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#siteler" role="button" aria-expanded="false" aria-controls="siteler">
          <i class="link-icon" data-feather="users"></i>
          <span class="link-title">Site Bilgileri</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="siteler">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="/nadminpanel/sitebilgileri" class="nav-link">Site Ayarları</a>
            </li>
            <li class="nav-item">
              <a href="/nadminpanel/odemebilgileri" class="nav-link">Ödeme Ayarları</a>
            </li>
            <li class="nav-item">
              <a href="/nadminpanel/ozellikler" class="nav-link">Özellik Ayarları</a>
            </li>
          </ul>

        </div>
      </li>
      <li class="nav-item">
        <a href="/nadminpanel/urunler" class="nav-link">
          <i class="link-icon" data-feather="figma"></i>
          <span class="link-title">İhaleler</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/nadminpanel/slide" class="nav-link">
          <i class="link-icon" data-feather="command"></i>
          <span class="link-title">Slider</span>
        </a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#kategoriler" role="button" aria-expanded="false" aria-controls="kategoriler">
          <i class="link-icon" data-feather="users"></i>
          <span class="link-title">Kategoriler</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="kategoriler">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="kategoriler" class="nav-link">Kategoriler</a>
            </li>
            <li class="nav-item">
              <a href="altkategori" class="nav-link">Alt Kategoriler</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#uyeler" role="button" aria-expanded="false" aria-controls="uyeler">
          <i class="link-icon" data-feather="users"></i>
          <span class="link-title">Üyeler</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="uyeler">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="uyelist" class="nav-link">Üyeler Listesi</a>
            </li>
      
          </ul>
        </div>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#forms" role="button" aria-expanded="false" aria-controls="forms">
          <i class="link-icon" data-feather="inbox"></i>
          <span class="link-title">Bakiyeler</span>
          <i class="link-arrow" data-feather="chevron-down"></i>
        </a>
        <div class="collapse" id="forms">
          <ul class="nav sub-menu">
            <li class="nav-item">
              <a href="pages/forms/basic-elements.html" class="nav-link">Basic Elements</a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/advanced-elements.html" class="nav-link">Advanced Elements</a>
            </li>
         
          </ul>
        </div>
      </li>
     
      <li class="nav-item">
        <a href="pages/apps/calendar.html" class="nav-link">
          <i class="link-icon" data-feather="sunset"></i>
          <span class="link-title">Destek</span>
        </a>
      </li>
    
    </ul>
  </div>
</nav>
 