
    <!-- footer-start -->
    <footer>
        <div class="fotter-area d-ddark-bg">
            <div class="footer__top pt-60 pb-10">
                <div class="container 0">
                    <div class="row">
                        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-8">
                            <div class="footer__widget">
                                <div class="footer__widget-title mb-20">
                                    <h4>Mağaza Bilgileri</h4>
                                </div>
                                <div class="footer__widget-content">
                                    <p class="footer-text mb-25"><%- anasayfa.magazabilgileri  %></p>
                                    <div class="footer__hotline d-flex align-items-center mb-10">
                                        <div class="icon icon-2 mr-15">
                                            <i class="fal fa-headset"></i>
                                        </div>
                                        <div class="text text-2">
                                            <span><a href="tel:100-123-456-7890"><%- anasayfa.telefonbilgileri  %></a></span>
                                        </div>
                                    </div>
                                    <div class="footer__info">
                                        <ul>
                                            <li>
                                                <span>Adres: <a target="_blank" href="https://goo.gl/maps/c82DDZ8ALvL878Bv8"><%- anasayfa.adresbilgileri  %></a></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget footer-col-2">
                                <div class="footer__widget-title">
                                    <h4>Hesabım</h4>
                                </div>
                                <div class="footer__widget-content">
                                    <div class="footer__link footer__link-2">
                                        <ul>
                                            <li><a href="/contact.html">Destek</a></li>
                                            <li><a href="/checkout.html">İhaleler</a></li>
                                            <li><a href="/cart.html">İhalelerim</a></li>
                                            <li><a href="/wishlist.html">Listelerim</a></li>
                                            <li><a href="/faq.html">Kullanım &amp; Sözleşmesi  &amp;</a></li>
                                            <li><a href="/faq.html">Kuponlar</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget footer-col-2">
                                <div class="footer__widget-title">
                                    <h4>Müşteri Hizmetleri</h4>
                                </div>
                                <div class="footer__widget-content">
                                    <div class="footer__link footer__link-2">
                                        <ul>
                                            <li><a href="/faq.html">Yeni Müşteri</a></li>
                                            <li><a href="/faq.html">Nasıl Hesap Açarım</a></li>
                                            <li><a href="/faq.html">Ödeme Şekilleri</a></li>
                                            <li><a href="/faq.html">Bilgilendirme</a></li>
                                            <li><a href="/faq.html">Teslimat&amp; Kargo</a></li>
                                            <li><a href="/faq.html">Sorunlu Ödemeler</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="footer__widget footer-col-2">
                                <div class="footer__widget-title">
                                    <h4>S.S.S</h4>
                                </div>
                                <div class="footer__widget-content">
                                    <div class="footer__link footer__link-2">
                                        <ul>
                                            <li><a href="/faq.html">Yardım Merkezi</a></li>
                                            <li><a href="/contact.html">İletişim</a></li>
                                            <li><a href="/faq.html">Sorun Bildir</a></li>
                                            <li><a href="/faq.html">Destek Gönder</a></li>
                                            <li><a href="/faq.html">Güvenlik&amp; Poliçesi</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6">
                            <div class="footer__widget">
                                <div class="footer__widget-title mb-20">
                                    <h4>Misyonumuz</h4>
                                </div>
                                <div class="footer__widget-content">
                                    <p class="footer-text mb-25"><%- anasayfa.misyonbilgileri   %></p>
                                    <div class="footer__newsletter-form">
                                        <form action="#">
                                            <input class="ft-newsl b-radius" type="email" placeholder="Haberler için email adresinizi girinizz ...">
                                            <button class="ft-newsl-btn" type="submit">Abone Ol</button>
                                        </form>
                                        </div>
                                    <p class="provide-text mt-20">E-posta adresinizi vererek, şunları kabul etmiş olursunuz:<br> <a href="#">Gizlilik Politikası</a> Ve <a href="#">Kullanım Şartları</a> .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom-2">
                <div class="container 0">
                    <div class="footer__bottom-content footer__bottom-content-2 pt-50 pb-50">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer__links footer__links-d text-center mb-25">
                                    <p>
                                        <a href="about.html">Hakkımızda</a>
                                        <a href="contact.html">Teslimat</a>
                                        <a href="faq.html">Gizlilik Politikası</a>
                                        <a href="faq.html">Yardım</a>
                                        <a href="faq.html">Ödemeler</a>
                                        <a href="contact.html">İletişim</a>
                                        <a href="faq.html">S.S.S</a>
                                    </p>
                                </div>
                                <div class="payment-image text-center mb-25">
                                    <a href="#"><img src="/home/img/payment/payment.png" alt=""></a>
                                </div>
                                <div class="copy-right-area copy-right-area-2 text-center">
                                    <p>Copyright © <span>İhale Pazarı.</span> Tüm Hakları Pazarı <a href="#"><span class="main-color">İhale Pazarı.</span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-end -->
    <script src="/ajaxs/giris.js"></script>
    <script src="/ajaxs/formatlar.js"></script>
      <!-- JS here -->
      <script src="/home/js/vendor/waypoints.js"></script>
      <script src="/home/js/bootstrap-bundle.js"></script>
      <script src="/home/js/meanmenu.js"></script>
      <script src="/home/js/swiper-bundle.js"></script>
      <script src="/home/js/owl-carousel.js"></script>
      <script src="/home/js/tweenmax.js"></script>
      <script src="/admin/vendors/dropify/dist/dropify.min.js"></script>
      <script src="/admin/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
      <script src="/admin/js/tags-input.js"></script>

      <script src="/home/js/magnific-popup.js"></script>
      <script src="/home/js/parallax.js"></script>
      <script src="/home/js/backtotop.js"></script>
      <script src="/home/js/nice-select.js"></script>
      <script src="/home/js/countdown.min.js"></script>
      <script src="/home/js/counterup.js"></script>

      
      <script src="/home/js/wow.js"></script>
      <script src="/home/js/isotope-pkgd.js"></script>
      <script src="/home/js/imagesloaded-pkgd.js"></script>
      <script src="/home/js/ajax-form.js"></script>
      <script src="/home/js/main.js"></script>
            <script src="/home/js/ui-slider-range.js"></script>

   </body>
</html>
