<div class="main-container">
    <div class="containerhesabim">
        <h1 class="menu-item">Hesabım</h1>
        <ul>
            <li><a class="menu-item" href="/cuzdanim">Cüzdanım</a></li>
            <li><a class="menu-item" href="/siparislerim">Siparişlerim</a></li>
            <li><a class="menu-item" href="/ihalelerim">Güncel İhalelerim</a></li>
            <li><a class="menu-item" href="/kazandigimihaleler">Kazandığım İhaleler</a></li>
            <li><a class="menu-item" href="/tekliflerim">Teklif Verdiğim İhaleler</a></li>
            <li><a class="menu-item" href="/urunlerim">Eklediğim Ürünler</a></li>
            <li><a class="menu-item" href="/degerlendirmelerim">Değerlendirmelerim</a></li>
            <li><a class="menu-item" href="/kullanici_bilgilerim">Kullanıcı Bilgilerim</a></li>
            <li><a class="menu-item" href="/adres">Adres</a></li>
            <li><a class="menu-item" href="/yardim">Yardım</a></li>
        </ul>
    </div>