<html>

<head>
    <title>iFrame API</title>

</head>


<body>
    <script src="https://www.paytr.com/js/iframeResizer.min.js"></script>
    <iframe src="https://www.paytr.com/odeme/guvenli/<%= iframetoken %>" id="paytriframe" frameborder="0" scrolling="no"
        style="width: 100%;"></iframe>
    <script>iFrameResize({}, '#paytriframe');</script>
</body>

</html>