<!DOCTYPE html>
<!--
Template Name: İHale Pazar
Author: Efkan
Website: https://www.ihalepazar.com
Contact: maybelatersource.com
-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Responsive HTML Admin Dashboard Template based on Bootstrap 5">
	<meta name="author" content="NobleUI">
	<meta name="keywords" content="nobleui, bootstrap, bootstrap 5, bootstrap5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<title>İhale Pazar Script v1</title>

  <!-- Fonts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <!-- End fonts -->

	<!-- core:css -->
	<link rel="stylesheet" href="/admin/vendors/core/core.css">
	<!-- endinject -->

	<!-- Plugin css for this page -->
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" href="/admin/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="/admin/vendors/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->

  <!-- Layout styles -->  
	<link rel="stylesheet" href="/admin/css/demo2/style.css">
  <!-- End layout styles -->

  <link rel="shortcut icon" href="/admin/images/favicon.png" />
</head>
<body>
	<div class="main-wrapper">
		<div class="page-wrapper full-page">
			<div class="page-content d-flex align-items-center justify-content-center">

				<div class="row w-100 mx-0 auth-page">
					<div class="col-md-8 col-xl-6 mx-auto">
						<div class="card">
							<div class="row">
                <div class="col-md-4 pe-md-0">
                  <div class="auth-side-wrapper">

                  </div>
                </div>
                <div class="col-md-8 ps-md-0">
                  <div class="auth-form-wrapper px-4 py-5">
                    <a href="#" class="noble-ui-logo logo-light d-block mb-2">İhale<span>Pazar</span></a>
                    <h5 class="text-muted fw-normal mb-4">Admin Panele Hoşgeldiniz! .</h5>
                    <form class="forms-sample" id="nadminlogin" method="POST">
                      <div class="mb-3">
                        <label for="userEmail" class="form-label">Email Adresiniz</label>
                        <input type="email" class="form-control" id="email" placeholder="Email Adresiniz">
                      </div>
                      <div class="mb-3">
                        <label for="userPassword" class="form-label">Şifreniz</label>
                        <input type="password" class="form-control" id="sifre" autocomplete="current-password" placeholder="Şifreniz">
                      </div>
                      <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="authCheck">
                        <label class="form-check-label" for="authCheck">
                          Beni Hatırla
                        </label>
                      </div>
                      <div>
                        <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 text-white">Giriş Yap</button>
                     
                      </div>
                    </form>
                  </div>
                </div>
              </div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
<%- include('../partials/_footer')  %>